{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "printWidth": 100
}